// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse;
}

#products td
{
font-size:1em;
border-top:1px solid #ffffff;
border-bottom:1px solid #ffffff;
padding:3px 7px 2px 7px;
}

tr:nth-child(even) {background: #AFEEEE}
tr:nth-child(odd) {background: #FFB6C1}

.description{
width:100%;

}

.name{
font-size:15px;
color: #4682B4
}


