<%= stylesheet_link_tag "store" %>

<section id="intro">  
	<h1>Pragmatic Bookshelf</h1>
	
</section>  


	<div id="column" > 
		</br></br></br>
		<a href="#">Home</a></br>
		<a href="#">Questions</a></br>
		<a href="#">News</a></br>
		<a href="#">Contact</a></br>
		<%= link_to "Products", :controller => "products" %>			
	</div>